$main: #209484;
$light: #ffffff;
$shadow: #8f98c2;

* {
    border: none !important;
    box-shadow: none !important;
    font-family: "Century Gothic", sans-serif !important;
    font-size: 19px;
    font-weight: normal !important;
    outline: none !important;
}

.banner {
    width: 100% !important;
}

.bg-light {
    background-color: $light !important;
}

.bg-main {
    background-color: $main !important;
}

.bg-shadow {
    background-color: $shadow !important;
}

body {
    background-color: whitesmoke !important;
    overflow-x: hidden !important;
}

.img-border {
    border: solid 4px $shadow !important;
    border-radius: 10px !important;
}

.logotipo {
    height: 100% !important;
}

.navbar {
    box-shadow: 0 0 20px 0 $shadow !important;
    height: 75px !important;
}

::-webkit-scrollbar {
    height: 10px !important;
    width: 10px !important;
}

::-webkit-scrollbar-thumb {
    background-color: $main !important;
}

::-webkit-scrollbar-track {
    background-color: $light !important;
}

//Mobile portrait
@media (max-width: 575.98px) {
    ::-webkit-scrollbar {
        height: 0 !important;
        width: 0 !important;
    }
}

//Mobile landscape
@media (min-width: 576px) and (max-width: 767.98px) {
    ::-webkit-scrollbar {
        height: 0 !important;
        width: 0 !important;
    }
}

//Tablet portrait
@media (min-width: 768px) and (max-width: 991.98px) {
    ::-webkit-scrollbar {
        height: 0 !important;
        width: 0 !important;
    }
}

//Tablet landscape
@media (min-width: 992px) and (max-width: 1024.98px) {
    ::-webkit-scrollbar {
        height: 0 !important;
        width: 0 !important;
    }
}

//Desktop
@media (min-width: 1025px) {
}
